@import "tailwindcss";

@theme{
  --secondary-color: #DC7E27;
  --third-color: #131517;
}



@layer utilities{
   .nav-hover-btn {
    @apply relative ms-10  text-xs uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }
  .container{
    @apply mx-auto px-4 md:px-8 lg:px-10 max-w-7xl
  }
}


body{
  scrollbar-color: var(--secondary-color) ;
  scroll-behavior: smooth;
}
